@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #dcfffd; /* Blue */
  --secondary-color: #10184f; /* Gray */
  --background-color: #ffffff;
  --text-color: #121212;
  --text-color-white: #ffffff;
  --border-color: #e8e0e0;
  --primary-color-1: #6d54b5;
  --hover-color: #513b93;
  --footer-background: #1c182a;
}

body {
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

/* Footer styling */
.footer {
  background-color: #1f2937;
  color: white;
  padding: 3rem 2rem 1rem;
  text-align: center;
  width: 100%;
}

.p {
  padding: 4rem 6rem;
}

.ml-8rem {
  margin-left: 8rem;
}

.col-lg-7 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-lg-7 {
  flex: 0 0 50%;
  max-width: 50%;
}

.flex {
  display: flex !important;
}

.gap-20 {
  gap: 20px;
}

.item-align {
  align-items: center;
}

.item-start {
  align-items: start;
}
.item-end {
  align-items: end;
}

.item-align-grid {
  align-items: center;
}
.align-text {
  text-align: center;
}

.rotation-25 {
  transform: rotate(25deg);
}

.animated-icon.rotation-25 {
  transform: rotate(25deg);
}

.flex-direction {
  flex-direction: column;
}

h2 {
  color: var(--text-color);
}

.primary-btn {
  background-color: var(--primary-color-1);
  padding: 1rem 2rem !important;
  margin-top: 0 !important;
}

.primary-btn:hover {
  background-color: var(--hover-color);
  padding: 1rem 2rem !important;
  margin-top: 0 !important;
}
