/* General container styles */
.container {
  max-width: 1440px;
  padding: 80px 20px;
  width: 100%;
  background: var(--background-color);
  margin: 0 auto;
}

.faq-title {
  text-align: center;
  font-size: 3rem;
  color: #333;
  margin-bottom: 50px;
}

.accordion-drop-down {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .accordion-item {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
} */

.accordion-item {
  margin: 1rem 0;
}

.accordion-title {
  font-size: 1rem;
  font-weight: 500;
}

.ques {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  background: var(--background-color);
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px rgba(16, 24, 79, 0.5);
  position: relative;
  z-index: 1;
}

/* Accordion content */
.accordion-content {
  padding: 1.5rem 1.5rem 0.75rem 1.5rem;
  background: #f1f1f1;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  border-top: 1px solid #ddd;
  animation: slideDown 0.3s ease-in-out;
  border: 1px solid black;
  border-radius: 0.5rem;
  position: relative;
  top: -15px;
  z-index: 0;
}

/* Smooth dropdown animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
